@import "globals.module.scss";
.container {
  color: black;
  background-color: $gray_2;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 5px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  .user {
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.replyContainer {
  margin-left: 50px;

  background-color: #fafafa;

  border-radius: 5px;

  padding-top: 10px;

  list-style: none;

  margin-bottom: 10px;

  padding-bottom: 10px;
}
