@import "globals.module.scss";
.container {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  border-bottom: 2px solid $gray_5;
  .menuBox {
    color: black;
    cursor: pointer;
    width: 13%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gray_10;
    color: $gray_6;
    border: 1px solid $gray_9;
    &.selected {
      border: 1px solid gray_5;
      background: linear-gradient($red_4, $red_5);
      color: $white_1;
    }
  }
}
