@import "globals.module.scss";
.container {
  border-top: 2px solid $black_3;
  border-bottom: 2px solid $black_3;
  margin-bottom: 150px;
  padding-bottom: 40px;
  .page_title {
    font-size: 24px;
    padding: 20px 0;
    border-bottom: 2px solid $gray_9;
    margin-bottom: 30px;
  }
  .monster_info_table_header,
  .monster_info_table {
    display: grid;
    grid-template-columns: 2fr 1fr 1.2fr 1.8fr 3fr;
    text-align: center;
    .monster_info_table_header_item,
    .monster_info_table_item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
    }
  }
  .monster_info_table_header {
    margin-top: 25px;
    border-top: 2px solid $gray_9;
    background: linear-gradient($gray_4, $gray_8);
    border-bottom: 1px solid #e9e9e9;
    .monster_info_table_header_item {
      border-left: 1px solid $gray_9;
      font-size: 14px;
      font-weight: 600;
      &:last-child {
        border-right: 1px solid $gray_9;
      }
    }
  }
  .monster_info_table {
    .monster_info_table_item {
      border-right: 1px solid $gray_9;
      border-bottom: 1px solid $gray_9;
      font-size: 14px;
      color: #858585;
      .item_img {
        height: 36px;
        width: 36px;
        border: 1px solid red;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}
