@import "globals.module.scss";

.container {
  .page_title {
    height: 50px;
    font-size: 24px;
  }

  .wrapper {
    .input_row {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
      .input_label {
        width: 80px;
      }
      .input {
        width: 200px;
      }
    }
  }
  .search_box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  .table_wrapper {
    min-height: 500px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .button_wrapper {
    margin-top: 20px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
.modal_box {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
